.tooltip {
  display: inline-flex;

  > .button,
  > .button > .button__content,
  > .button  > .button__content > .button__text {
    padding: 0;
    margin: 0;
    line-height: initial;
    border: none;
    width: auto;
    height: auto;
    display: inline-flex;
    background: initial;
  }
}
