.navigation {
  background-color: inherit;

  &_theme_alfa-on-white {
    color: var(--color-dark-indigo);
  }

  &_theme_alfa-on-color {
    color: var(--color-white);
  }

  &_theme_alfa-on-color &__search-input .input__box {
    border-color: rgba(255, 255, 255, .24);
  }

  &_theme_alfa-on-white &__nav-link_active {
    background-color: var(--color-dark-indigo-05);
  }

  &_theme_alfa-on-color &__nav-link_active {
    background-color: rgba(255, 255, 255, .05);
  }

  &__header {
    position: sticky;
    top: 0;
    z-index: 1;
    background: inherit;
  }

  .collapse-item:first-of-type {
    border-top-width: 0;
  }

  &__search-input {
    background-color: inherit;

    .input__addons_left {
      padding-left: var(--gap-m);
    }

    .input__control {
      padding: var(--gap-s) 0;
    }

    .input__box {
      border-bottom-color: var(--color-dark-indigo-15);
    }
  }

  &__collapse-nav &__nav-link {
    padding-left: var(--gap-2xl);
  }

  &__nav-link {
    display: block;
    text-decoration: none;
    padding: var(--gap-s) var(--gap-m);
    color: inherit;
  }
}
