.navigation {
  background-color: inherit;

  &_theme_alfa-on-white {
    background-color: var(--color-white);
    color: var(--color-dark-indigo);
  }

  &_theme_alfa-on-color {
    background-color: var(--color-dark-indigo);
    color: var(--color-white);
  }

  &_theme_alfa-on-white &__nav-link_active {
    background-color: var(--color-dark-indigo-05);
  }

  &_theme_alfa-on-color &__nav-link_active {
    background-color: rgba(255,255,255,.15);
  }

  &__header {
    position: sticky;
    top: 0;
    z-index: 1;
    background: inherit;
  }

  .collapse-item:first-of-type {
    border-top-width: 0;
  }

  &__search-input {
    .input__addons_left {
      padding-left: 16px;
    }

    .input__control {
      padding: 13px 0;
    }
  }

  &__collapse-nav &__nav-link {
    padding-left: 36px;
  }

  &__nav-link {
    display: block;
    text-decoration: none;
    padding: 10px 16px;
    color: inherit;
  }
}
