.array-field-template {
  display: grid;
  gap: var(--gap-m);
  border-width: 0;
  padding: 0;

  &__item {
    position: relative;
    display: flex;
    align-items: center;

    &_is-group {
      align-items: flex-start;
      box-sizing: border-box;
      border: 1px solid var(--color-dark-indigo-15);
      border-radius: var(--border-radius-control);
      padding: var(--gap-m);

      .header {
        margin: var(--gap-m-neg);
        margin-bottom: 0;
        border-bottom: 1px solid var(--color-dark-indigo-15);
        padding: var(--gap-m);
      }
    }
  }

  &__toolbar {
    display: flex;
    align-items: center;
    position: absolute;
    right: var(--gap-m);
    top: 0;
    height: 54px;
  }

  &__item-children {
    width: 100%;

    &_is-empty {
      border-left: 2px solid;
      padding: var(--gap-xs) var(--gap-m);
    }
  }

  &_theme_alfa-on-white &__item-children_is-empty {
    border-color: var(--color-dark-indigo);
  }

  &_theme_alfa-on-color &__item-children_is-empty {
    border-color: var(--color-white);
  }

  &__empty-children {
    margin: 0;
  }

  &__remove-tooltip,
  &__item-reorder + * {
    margin-left: var(--gap-xs)
  }

  &__item-reorder + &__remove-tooltip {
    margin-top: -2px;
  }
}
