.array-field-template {
  border-width: 0;
  padding: 0;
  margin: 0;

  & > * + * {
    margin-top: var(--gap-m);
  }

  &__item {
    display: flex;
    align-items: center;

    .object-field-template {
      border: 1px solid var(--color-dark-indigo-15);
      border-radius: var(--border-radius-control);
      padding: var(--gap-m);
    }
  }

  &__item-children {
    width: 100%;

    &_is-empty {
      border-left: 2px solid var(--color-dark-indigo-60);
      padding: var(--gap-xs) var(--gap-m);
    }
  }

  &__empty-children {
    margin: 0;
  }

  &__item-reorder {
    margin-right: var(--gap-xs)
  }
}
