.step {
    font-family: var(--font);

    &__header {
        display: flex;
        align-items: center;
        cursor: default;
        border-radius: var(--border-radius-control);
        margin-bottom: 0;
    }

    &__label {
        color: var(--color-dark-indigo-60);
    }

    &_active &__label,
    &_completed &__label {
        font-weight: var(--font-weight-medium);
        color: var(--color-dark-indigo);
    }

    &__hint {
        font-size: var(--font-size-xs);
        color: var(--color-dark-indigo-60);
    }

    &__label + &__hint {
        margin-top: 2px;
    }

    &__content {
        border-left: 1px solid var(--color-dark-indigo-30);
        padding: var(--gap-xs);
        margin: var(--gap-xs) 0 var(--gap-xs) var(--gap-s);
    }

    &_active &__content {
        padding: var(--gap-m);
        padding-right: 0;
    }

    &:last-child &__content {
        border-left-color: transparent;
        min-height: initial;
    }

    &__icon {
        margin-right: var(--gap-xs);
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: var(--gap-xl);
        max-width: var(--gap-xl);
        min-height: var(--gap-xl);
        max-height: var(--gap-xl);
        font-size: var(--font-size-s);
        background: var(--color-dark-indigo-30);
        color: #fff;
        border-radius: 50%;
    }

    &_active &__icon {
        background: var(--color-dark-indigo);
    }

    &_completed &__icon {
        background: var(--color-green-done);
    }

    &_error &__icon {
        background: transparent;
    }

    &_error &__hint {
        color: var(--color-error);
    }

    &__button-group {
        margin-top: var(--gap-m);
    }
}
