@import "~arui-feather/vars/color.css";
@import "~arui-feather/vars/font.css";
@import "~arui-feather/vars/color.css";
@import "~arui-feather/vars/primitive-colors.css";

.form {
    &__submit-button {
        margin-top: 16px;
    }

    .input__sub {
        padding-right: 0;
    }

    &__error-plate {
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }
}
