@import "vars";
@import "form_theme_alfa-on-color";

.form {
    &__submit-button {
        margin-top: var(--gap-m);
    }

    .input__sub {
        padding-right: 0;
    }

    &__error-plate {
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }

    .input__input-wrapper {
        flex: auto;
    }
}
