.tabs-field-template {
  padding: 0;
  border-width: 0;

  &__tab-item {
    display: inline-flex;
    align-items: center;
    min-height: var(--gap-3xl);
  }

  &__tab-item + &__tab-item {
    margin-left: var(--gap-xl);
  }

  &__hint-icon {
    margin-left: var(--gap-xs);
  }

  &__tab-content {
    padding: var(--gap-m) 0;
  }
}
