.progress-step {
  display: grid;
  grid-gap: var(--gap-m);

  &__header {
    display: grid;
    grid-gap: var(--gap-2xs);
  }

  &__hint,
  &__title {
    font-size: var(--font-size-s);
    color: var(--color-dark-indigo-60);
    margin-bottom: 0;

    &_theme_alfa-on-color {
      color: var(--color-white-70);
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    background: var(--input-background);
    border-radius: var(--border-radius-control);
    padding: var(--gap-m);
    gap: var(--gap-m);

    &_theme_alfa-on-color {
      background: var(--color-white-05);
    }
  }

  &__next-button {
    min-width: 50%;
    max-width: 50%;
  }

  &__back-button {
    border: none;
    background: none;
  }

  &__icon {
    min-width: var(--gap-xl);
    margin-right: var(--gap-xs);
  }

  &__message {
    display: flex;
    align-items: center;
    font-size: var(--font-size-s);
    margin: 0;
  }
}
