.object-field-template {
  padding: 0;
  border-width: 0;

  &__header + *,
  & > * + * {
    margin-top: 16px;
  }

  &__property {
    display: flex;
    align-items: center;
  }

  &__content {
    width: 100%;
  }

  &__remove-button {
    flex: auto;
  }
}
