.object-field-template {
  display: grid;
  gap: var(--gap-m);
  padding: 0;
  border-width: 0;

  &__paragraph {
    margin-bottom: 0;
  }

  &__property {
    display: flex;
    align-items: center;
  }

  &__property + &__property > &__content {
    & > .field-array > .array-field-template > .array-field-template__header,
    & > .field-object > .field-template__header {
      margin-top: var(--gap-s);
    }
  }

  &__content {
    width: 100%;
  }

  &__remove-tooltip {
    margin-left: var(--gap-xs);
  }
}
