.docs-array-field-template {
  border-width: 0;
  padding: 0;
  margin: 0;

  .schema-table {
    display: none;
  }

  &__item-group {
    padding: 0;
    margin: 0;
  }

  &__item-group + &__item-add-button {
    margin-top: var(--gap-xs);
  }

  &__item {
    display: flex;
    align-items: center;

    & + & {
      margin-top: var(--gap-2xs);
    }
  }

  &__item-reorder {
    margin-right: var(--gap-2xs);
  }

  &__item-remove-button {
    margin-left: var(--gap-2xs);
    width: auto;
    padding: 0;
    border: none;
    background: none;
    opacity: .5;
    transition: .24s;
    &:hover {
      opacity: 1;
    }
  }
}
