.article {
  position: relative;
  display: flex;
  justify-content: center;
  padding: var(--gap-m);
  line-height: var(--line-height-normal);

  &__content {
    box-sizing: border-box;
    width: 100%;
    max-width: var(--content-width);
    color: inherit;
  }

  &__edit-icon-link {
    position: absolute;
    right: var(--gap-m);
    top: var(--gap-m);
  }
}
