.md-list-item {
  position: relative;
  line-height: var(--line-height-normal);
  list-style: none;
  margin-left: var(--gap-4xl);
  font-size: inherit;
  color: inherit;

  &:before {
    content: "\2014";
    display: block;
    position: absolute;
    right: 100%;
    top: 0;
    margin-right: 0.6em;
  }

  & + & {
    margin-top: var(--gap-xs);
  }
}
