.color-input-widget {
  &__icon-button {
    position: relative;
  }

  &__picker-label {
    display: inline-block;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border-width: 0;
  }

  &__picker-input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 24px;
    height: 24px;
    opacity: 0;
    margin: auto;
  }
}
