.collapse-nav {
  &_theme_alfa-on-white {
    color: var(--color-dark-indigo);
  }

  &_theme_alfa-on-color {
    color: var(--color-white);
  }

  &__header {
    display: flex;
    align-items: center;
    padding: var(--gap-xs);
    cursor: pointer;
  }

  &__expand-icon {
    height: calc(var(--gap-xl) - 2px);
    transition: .24s;

    &_expanded {
      transform: rotate(90deg);
    }
  }

  &__header-text {
    margin-left: var(--gap-2xs);
  }
}
