.editor-widget {
  &_theme_alfa-on-white {
    .editor-widget__header,
    .monaco-editor {
      background-color: var(--color-dark-indigo-05);
      opacity: .75;
    }
  }

  &_theme_alfa-on-color {
    header.editor-widget__header,
    div.monaco-editor {
      background-color: var(--color-dark-indigo);
      opacity: 1;
    }
  }

  &_theme_alfa-on-white &__heading {
    color: rgba(11, 31, 53, 0.6);
  }

  &__header {
    display: flex;
    align-items: center;
    padding: var(--gap-2xs) var(--gap-m);
    border-radius: var(--border-radius-control) var(--border-radius-control) 0 0;
  }

  &__heading {
    font-size: var(--font-size-s);
    margin-right: auto;
    font-weight: initial;
  }

  &__icon-button {
    margin-left: var(--gap-xs);
  }

  &_view_filled {
    .monaco-editor-background,
    .monaco-editor .margin {
      background: transparent;
    }

    .editor-widget__header,
    .monaco-editor {
      background-color: rgba(11, 31, 53, .05);
      opacity: .75;
    }

    .monaco-editor {
      border-bottom: rgba(11, 31, 53, 0.15) 1px solid;
    }
  }
}
