.md-code {
  position: relative;
  padding: var(--gap-m);
  border-radius: var(--border-radius-control);
  background-color: var(--color-dark-indigo-05-flat);
  font-family: var(--font);

  &_theme_alfa-on-color {
    background-color: var(--color-dark-indigo);
  }

  &__actions {
    position: absolute;
    display: flex;
    align-items: center;
    top: var(--gap-xs);
    right: var(--gap-xs);
  }

  &__button {
    margin-left: var(--gap-xs);
  }

  & > pre {
    margin: 0!important;
    padding: 0!important;
    background-color: inherit!important;
  }

  * + & {
    margin-top: var(--gap-m);
  }
}
