.reorder {
    display: flex;

    &_type_vertical {
        flex-direction: column;
    }

    &__button {
        padding: 0;
        cursor: pointer;
        height: auto;
    }

    &_type_vertical &__tooltip:first-child &__button {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &_type_vertical &__tooltip:last-child &__button {
        margin-top: -1px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    &_type_horizontal &__button {
        border-width: 0;
    }

    &_type_horizontal &__tooltip + &__tooltip {
        margin-left: var(--gap-xs);
    }
}
