.collapse-item {
  font-family: var(--font);

  &_theme_alfa-on-color {
    border-top: 1px solid var(--color-white-24);
  }
  &_theme_alfa-on-white {
    border-top: 1px solid var(--color-dark-indigo-15);
  }

  &__header {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 var(--gap-m);

    &_size_s {
      font-size: var(--font-size-m);
      min-height: var(--gap-3xl);
    }

    &_size_m {
      font-size: var(--font-size-l);
      min-height: var(--gap-4xl);
    }

    &_size_l {
      font-size: var(--font-size-xl);
      min-height: calc(var(--gap-4xl) + var(--gap-s));
    }

    &_size_xl {
      font-size: var(--font-size-2xl);
      min-height: var(--gap-5xl);
    }
  }

  &__content_with-padding {
    padding: var(--gap-m);
  }

  &__heading {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: normal;
    font-size: inherit;
  }

  &__hint-icon {
    margin-left: var(--gap-xs);
    font-size: var(--font-size-s);
    margin-right: auto;
  }

  &__heading + &__error-icon,
  &__heading + &__expand-icon {
    margin-left: auto;
  }

  &__error-icon {
    margin-left: var(--gap-m);
  }

  &__expand-icon {
    transition: .24s;
    margin-left: var(--gap-m);
    &_expanded {
      transform: rotate(180deg);
    }
  }
}
