.markdown {
  color: inherit;

  .input__sub & .md-blockquote:first-child,
  .md-heading + .md-paragraph,
  .md-heading + .md-list {
    margin-top: var(--gap-m);
  }

  table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid var(--color-dark-indigo-15);
    border-right-width: 0;
    border-bottom-width: 0;

    td, th {
      padding: var(--gap-xs) var(--gap-s);
      text-align: left;
      border: 1px solid var(--color-dark-indigo-15);
      border-top-width: 0;
      border-left-width: 0;
    }

    tr:nth-child(odd) > td {
      background-color: var(--color-dark-indigo-05-flat);
    }
  }

}
