.navigation-tabs {
  color: inherit;
  background-color: inherit;

  &_theme_alfa-on-white {
    color: var(--color-dark-indigo);

    .tabs__content:after {
      border-bottom-color: var(--color-dark-indigo-15);
    }
  }

  &_theme_alfa-on-color {
    color: var(--color-white);

    .tabs__content:after {
      border-color: rgba(255,255,255, .24)
    }
  }

  &__tabs {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: inherit;

    .tabs__content {
      display: flex;
    }
  }

  &__editor-form {
    .collapse-item:first-of-type {
      border-top-width: 0;
    }
  }

  &__tab-item {
    display: flex;
    align-items: center;
    padding: 0 var(--gap-m);
    min-height: calc(var(--gap-4xl) - 1px);
  }

  &__contents {
    position: sticky;
    top: 0;
    min-width: 240px;
    max-width: 240px;
    padding: var(--gap-m);
  }

  &__actions {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: var(--gap-m);
  }
}
