.app {
    display: grid;
    grid-template-columns: 240px auto;
    font-family: var(--font);
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;

    &_theme_alfa-on-white {
        background: initial;
    }

    &_theme_alfa-on-color {
        background: var(--color-dark-indigo);
    }

    & > * {
        background: inherit;
    }

    &__main {
        overflow: auto;
    }

    &__aside {
        overflow: auto;
    }

    &__bottom-bar {
        position: sticky;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &__aside,
    &__main {
        box-sizing: border-box;
        scroll-snap-align: start;
    }

    @media (min-width: 768px) {
        &_theme_alfa-on-white > * + * {
            border-left: 1px solid var(--color-dark-indigo-15);
        }

        &_theme_alfa-on-color > * + * {
            border-left: 1px solid rgba(255, 255, 255, 0.24);
        }

        &__bottom-bar {
            display: none;
        }
    }

    @media (max-width: 767px) {
        grid-template-columns: repeat(2, 100vw);
    }
}
