.navigation-tabs {
  background-color: inherit;
  color: inherit;

  &_theme_alfa-on-white {
    background-color: var(--color-white);
    color: var(--color-dark-indigo);
  }

  &_theme_alfa-on-color {
    background-color: var(--color-dark-indigo);
    color: var(--color-white);
  }

  &__tabs {
    position: sticky;
    top: 0;
    background: inherit;
    z-index: 1;

    .tabs__content {
      display: flex;
    }
  }

  &__editor-form {
    .collapse-item:first-of-type {
      border-top-width: 0;
    }
  }

  &__tab-item {
    padding: 8px 16px;
  }

  &__description {
    position: relative;
    padding: 16px;
    color: inherit;

    p {
      line-height: 1.5;
    }
  }

  &__edit-icon-link {
    position: absolute;
    right: 16px;
    top: 16px;
  }
}
