.navigation-tabs {
  background-color: inherit;
  color: inherit;

  &_theme_alfa-on-white {
    background-color: var(--color-white);
    color: var(--color-dark-indigo);
    .tabs__content:after {
      border-bottom-color: var(--color-dark-indigo-15);
    }
  }

  &_theme_alfa-on-color {
    background-color: var(--color-dark-indigo);
    color: var(--color-white);
  }

  &__tabs {
    position: sticky;
    top: 0;
    background: inherit;
    z-index: 1;

    .tabs__content {
      display: flex;
    }
  }

  &__editor-form {
    .collapse-item:first-of-type {
      border-top-width: 0;
    }
  }

  &__tab-item {
    display: flex;
    align-items: center;
    padding: 0 var(--gap-m);
    min-height: calc(var(--gap-4xl) - 1px);
  }

  &__description {
    position: relative;
    padding: var(--gap-m);
    color: inherit;

    p {
      line-height: var(--line-height-normal);
    }
  }

  &__edit-icon-link {
    position: absolute;
    right: var(--gap-m);
    top: var(--gap-m);
  }

  &__actions {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: var(--gap-m);
  }
}
